<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServicePessoa" />
				<binding name="BasicHttpBindingCustom" closeTimeout="00:03:00" openTimeout="00:03:00" receiveTimeout="00:03:00" sendTimeout="00:03:00" 
						 maxReceivedMessageSize="2147483647">
					<readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647" />
				</binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:62401/ServicePessoa.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBindingCustom"
                contract="ServicePessoa.IServicePessoa" name="BasicHttpBinding_IServicePessoa" />
        </client>
    </system.serviceModel>
</configuration>